@font-face {
	font-family: 'AppleGothic';
	src:
		local('AppleGothic'),
		url('../assets/fonts/AppleGothic.ttf') format('truetype');
}

@font-face {
	font-family: 'AppleSDGothicNeoM';
	src:
		local('AppleSDGothicNeo'),
		url('../assets/fonts/AppleSDGothicNeoM.ttf') format('truetype');
}
